{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}