@import 'tailwindcss/base';
@import './fonts.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}
