:target:before {
    content: "";
    display: block;
    height: 60px;
    /* fixed header height*/
    margin: -60px 0 0;
    /* negative fixed header height */
}

.fixed-index {
    position: fixed;
    overflow: auto;
    height: 80%;
    width: 21%;
}

.search-icon {
    margin-left: 58em;
    /* padding-left: 50px !important; */
}