#search-modal {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

.search-content {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  margin: 60px auto;
  width: 50%;
  animation: openModal;
  animation-duration: 0.3s;
}

.field-mb {
  margin-bottom: 0px !important;

  input {
    border: none;
    color: #dbd9d9;
    font-size: 1rem;
    height: 40px;
    padding: 0 0 0 34px;
    /* position: fixed; */
    width: 100%;
  }

  input:focus {
    color: #3f3f3f;
    box-shadow: none;
  }
}

.search-message {
  background-color: #ededed;
  border-bottom: solid 1px #dcdcdc;
  border-top: solid 1px #dcdcdc;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  line-height: 40px;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-content {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  margin: 60px auto;
  width: 50%;
}

.results_p,
.search-message {
  padding-left: 35px;
}

#clear-message {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.results {
  a {
    color: #757575;
    font-size: 14px;
    line-height: 40px;
  }

  p:hover {
    background: #f7f8a9;
  }
}
