.fixed-toc {
  position: fixed;
  overflow: auto;
  height: 80%;
  width: 21%;
}

@media (max-width: 767px) {
  .fixed-toc {
    position: relative;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* <== invert the order of the columns in tablet */
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}