@import "toc";
@import "search";
@import "forkme";


:target:before {
  content: "";
  display: block;
  height: 60px;
  /* fixed header height*/
  margin: -60px 0 0;
  /* negative fixed header height */
}
