@import "toc";
@import "search";
@import "forkme";


:target:before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

.navbar-end {
  margin-right: 11rem;
}

.navbar-brand {
  margin-left: 4rem;
}

.navbar-brand {
  a {
    font-weight: 600;
  }
}
